__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
checkpoints/
model_files/
model-repo/
.DS_Store
.env
.venv/
.vscode/
.idea/
.pytest_cache/
model_analyzer/
model_repository/
conc_aml/
outputs/
results/
checkpoints_caption/
checkpoints_detect/
checkpoints_query/
*.txt
*.json
*.json
*.jpg
*.jpeg
*.JPG
*.png
*.gif
*.log